/* Header Styling */


/* .nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 4rem;
} */

/* .logo {
  height: 80%;
} */

/* Header Styling End */

/* Main Styling */

.images {
  width: 10%;
  height: 10%;
}